doctype html
html(lang="en")
  head
    title Bitchin' Barterin'
    link(rel='stylesheet', href="bower_components/bootswatch/darkly/bootstrap.min.css")
    //- link(rel='stylesheet', href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href="stylesheets/layout.css")

    block css
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              #register.btn.btn-info.btn-responsive(type='submit') Register
            li
              #login.btn.btn-info.btn-responsive(type='submit') Login
            li        
              #logout.btn.btn-info.btn-responsive(type='submit') Logout

    #registration.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerUser', area-describedby='a modal to register user')
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4.modal-title Register new user
            .modal-body
              .row
                form.form-horizontal
                  .row.form-group
                    label.col-sm-4.control-label(for='username') Username
                    .col-sm-4
                      input#username.form-control(type='text', placeholder='username', autofocus)
                  .row.form-group
                    label.col-sm-4.control-label(for='password') Password
                    .col-sm-4
                      input#password.form-control(type='password', placeholder='password')
                  .row.form-group
                    label.col-sm-4.control-label(for='confirmPassword') Confirm password
                    .col-sm-4
                      input#confirmPassword.form-control(type='password', placeholder='password')
                  #registerEmptyFormWarn.warning.message All fields must be filled
                  #passwordMatchWarn.warning.message Passwords must match
                  #success.message Registration successful!
            .modal-footer
              button.cancel.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button#registerNewUser.btn.btn-primary(type='button') Register
      #loginUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='login-user', area-describedby='a modal for the user to login')
        .modal-dialog.modal-ls(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4.modal-title Login
            .modal-body
              .row
                form.form-horizontal
                  .form-group
                    label.col-sm-3.control-label(for='loginUsername') Username
                    .col-sm-4
                      input#loginUsername.form-control(type='text', placeholder='username', autofocus)
                  .form-group
                    label.col-sm-3.control-label(for='loginPassword') password
                    .col-sm-4
                      input#loginPassword.form-control(type='password', placeholder='password')
                  #loginEmptyFormWarn.warning.message All fields must be filled
            .modal-footer
              button.cancel.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button#saveEdit.btn.btn-primary(type='button') Login
    block content
      .footer
        #clearFooter
        #footer.row
          .container
            #test.col-xs-12
              .col-xs-6.pull-left
                img.pull-left(src='/media/website-logo.png', alt='personal logo')
              //- didn't have enough time to set this up
              //- i.fa.fa-linkedin-square
              //- i.fa.fa-github-square
              //- i.fa.fa-twitter-square
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/js/modal.js')
    block js