extends ./layout.jade

block css
    link(rel='stylesheet', href="stylesheets/user.css")


block content
  .container
    .row
      #myItems.col-md-6
        .well
          .row
            h3.col-md-12 My Items
          .row
            img#gravatar.col-md-4
            #buttons.col-md-8
              .row
                #editBio
      #publicItems.col-md-6
        .well
          .row
            h3.col-md-12 Public Items

block js
  script(src='js/login.js')