.item {
  text-align: left;

}
.trade {
  text-align: left;
}
.trade > h4 {
  vertical-align: center;
}
.cancelTrade, .acceptTrade {
  margin: 5px;
  /*padding: 0px;*/
}

div {
  /*border: 1px solid red;*/
}

#trade {
  cursor: auto;
}