textarea {
  min-height: 300px;
}
h3 {
  margin: 10px;
}

.well {
  min-height: 80vh;
}

.message {
  display: none;
}

.warning {
  font-size: 12px;
  color: #d68539;
} 

.item {
  text-align: left;

}

.options {
  text-align: center;
}
.myItem {
  vertical-align: center;
  font-size: 20px;
}
.trade {
  text-align: left;
}
/*.trade > h4 {
  vertical-align: center;
}*/
.cancelTrade, .acceptTrade {
  margin: 5px;
  /*padding: 0px;*/
}

div {
  /*border: 1px solid red;*/
}

#trade {
  cursor: auto;
}





