block my items
  .row
    .col-md-9
      .row
        h3.col-md-12 My Items
      h4.col-md-12 Select an Item to Offer for Trade!
    .col-md-2
    .row
      button(disabled).btn.btn-responsive.btn-info#trade Traaaaade!!!
  .row
    table.table.table-striped.table-hover.table-condensed.table-responsive
      tr
        th.col-md-9 Item
        th.options.col-md-1 For Trade
        th.options.col-md-1 Offer item
        th.options.col-md-1  
      tbody#myItemsTable      
        if data.myItems
          each item in data.myItems
            tr
              td.item
                .myItem= item.itemName
              td
                input.forTrade(type="checkbox" checked=(item.forTrade))
              td
                input.offer(type="radio" name="offer") 
              td
                i.fa.fa-trash.fa-md.deleteItem  

