block my trades
  .row
    h3.col-md-12 My Items
  .row
    table.table.table-striped.table-hover.table-condensed.table-responsive
      tr
        th.col-md-2 Trade initiated by
        th.col-md-2 with
        th.col-md-2 Desired item
        th.col-md-2 Offered item
      tr
        td littleFinger
        td 
