block my trades
  .row
    h3.col-md-12 My Items
  .row
    table.table.table-striped.table-hover.table-condensed.table-responsive
      tr
        th.col-md-6 Item
        th.col-md-6.pull-right for trade?
        th.
      tr
        td littleFinger
        td 
