extends ./add.jade
extends ./profile.jade
//- extends ./layout.jade
//- extends ./layout.jade

block css
  link(rel='stylesheet', href="stylesheets/trading.css")

block nav 
  li 
    #add.btn.btn-info.btn-responsive(type='submit') Add Item
  li
    #pending.btn.btn-info.btn-responsive(type='submit') Pending Trades
  li
    #profile.btn.btn-info.btn-responsive(type='submit') Profile
  li
    #logout.btn.btn-info.btn-responsive(type='submit') Logout

block content
  block add modal
  //- block pending modal
  block profile modal
  //- block my items
  //- block public items

  .container
    .row
      #myItems.col-md-6
        .well
          .row
            h3.col-md-12 My Items
          .row
            img#gravatar.col-md-4
            #buttons.col-md-8
              .row
                #editBio
      #publicItems.col-md-6
        .well
          .row
            h3.col-md-12 Public Items

block js
  script(src='js/trading/trading.js')
  script(src='js/trading/pending.js')
  script(src='js/trading/profile.js')
